@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Define a fonte normal para o placeholder no Chrome, Safari e Opera */
  text-transform: none;
}

::-moz-placeholder {
  /* Define a fonte normal para o placeholder no Firefox */
  text-transform: none;
}

:-ms-input-placeholder {
  /* Define a fonte normal para o placeholder no Internet Explorer e Edge */
  text-transform: none;
}